.task-tracker {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-tracker .task-tracker-header {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .task-tracker .horizontal-image {
    width: 100%;
    height: auto;
  }
  
  .task-tracker .task-tracker-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .task-tracker h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  